fieldset {
    width: 10%;
    margin-top: 125%;
}

.center {
    margin: auto;
    width: 12%;
}


}
#busca {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    opacity: 0;
    padding-inline-start: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
#booble {
    font-size: 80px;
    font-family: 'Modak', cursive;
    margin-left: 45%;
}
#boog {
    font-family: 'Modak', cursive;
}